[submodule "qhexedit2"]
	path = qhexedit2
	url = https://github.com/Simsys/qhexedit2
[submodule "vmread"]
	path = vmread
	url = ../vmread.git
[submodule "framework"]
	path = framework
	url = ../m0dular.git
